/*color scheme:
http://paletton.com/#uid=12b120k00wa00Oc-Xh2008U002I
*/
html{
    width: 100%
    height: 100%;
    padding-top: 7.5%;
}
body{
    padding-top: 40px;
    font-size: 125%;
    font-family: 'Source Sans Pro', arial, verdana;
    font-weight: 200;
    color: #FFFFFF;
    opacity: .95;
    text-align: left;
}
h1, h2, h3{
    font-family: Montserrat, 'Source Sans Pro', arial, verdana;   
    margin-bottom: 0px;
}
h1{
    padding-top: 5%;
    font-size: 200%;
    font-weight: 800;
    letter-spacing:5px;
    margin-bottom: 0px;
    text-shadow:  2px 2px 5px #223344;
}
h2{
    text-align: left;
}
h3{
    margin: 0px 0px 20px 0px;
    padding: 0px;
    opacity: .9;
    -o-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
li{
    text-align: left;
}
.forceAlign{
    text-align: center;
    
}
.imageLink{
    margin: 5px 0px;
    text-align: center;
    vertical-align: middle;
    opacity: .80;
    -o-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.imageLink:hover{
    opacity: 1;
    border-color: #ffffff;
}
p{
    text-indent:50px;
    font-size: 110%;
    text-align: left;
    font-weight: 400;
}

span{
    font-size: 115%;   
    font-weight: 650;
    letter-spacing:1px;
}
a, a:link, a:visited {
    text-decoration: none;
    color:#FFFFFF;
}
h2 a:hover, p>a:hover, h3 a:hover {
    font-weight: 800;
    letter-spacing: 2px;
}
*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}